<!doctype html>
<html ng-app>
	<head>
		<title>Plex Requests</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>

    <script src="requestcontroller.js"></script>
		<script src="editcontroller.js"></script>

	</head>

	<body>

		<div class="jumbotron">
			<h1>Plex Requests</h1>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-md-6" ng-controller="RequestController">
					<h2>Request <i ng-show="loading" class="fa fa-refresh fa-pulse"></i> </h2>
					<h4>
						<input type="radio" ng-model="searchtype" value="movie">Movies
						<input type="radio" ng-model="searchtype" value="tv_show">TV Shows
					</h4>

					<div>
						<div>
							<input type="text" class="form-control" ng-model="query"/>
						</div>


						<div class="list-group">
							<li class="list-group-item" ng-repeat="searchresult in searchresults">
								<h4>{{ searchresult.name }}</h4>
								<h5>{{ searchresult.date | date : 'yyyy' }}</h5>
								<div class="media">
									<div ng-if="searchresult.poster_path" class="media-left media-middle">
										<img class="media-object img-thumbnail" ng-src="{{ searchresult.poster_path }}"/>
									</div>
									<div class="media-body">
										<p class="list-group-item-text">
											{{ searchresult.summary }}
										</p>
									</div>
                                                                	<div style="text-align:right; padding:10px">
                                                                       		<button type="submit" class="btn btn-success" ng-click="add(searchresult)"/>Add</button>
                                                               		</div>
								</div>
							</li>
						</div>
					</div>
				</div>
				<div class="col-md-6" ng-controller="EditController">
					<h2>Existing Requests <i ng-show="loading" class="fa fa-refresh fa-pulse"></i> </h2>

					<div class="list-group">
						<div class="list-group-item" ng-repeat="request in requests">
							<h4><a href="#" ng-click="show(request)">{{ request.name }}</a></h4>
							<h5>{{ request.date | date : 'yyyy' }}</h5>
							<button class="btn btn-success" ng-click="markComplete(request)">Mark Complete</button>
							<button class="btn btn-danger" ng-click="markComplete(request)">Delete</button>
						</a>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>
